<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-4 border-right d-flex">
        <div class="cta_image">
          <img src="./assets/images/wired-podcast-hero.jpg" alt="">
        </div>
        <a class="cta_title" href="#">Listen to our poadcast.</a>
      </div>
      <div class="col-4 border-right d-flex">
        <div class="cta_image">
          <img src="./assets/images/Newsletter.jpg" alt="">
        </div>
        <a class="cta_title" href="#">Subscribe in Our Newsletter</a>
      </div>
      <div class="col-4 d-flex">
        <div class="cta_image">
          <img src="./assets/images/events.jpg" alt="">
        </div>
        <a class="cta_title" href="#">Attend our first event!</a>
      </div>
    </div>
      <!-- <div class="row">
      <div class="col-m-4 col-4 border-right">
        <div class="row">
          <div class="col-6 cta_image">
            <img src="./assets/images/wired-podcast-hero.jpg" alt="">
          </div>
          <div class="col-6 cta_title">
            <p>Listen to latest poadcasts</p>
          </div>
        </div>

      </div>
      <div class="col-m-4 col-4 border-right">
        <div class="row">
          <div class="col-6 cta_image">
            <img src="./assets/images/Newsletter.jpg" alt="">
          </div>
          <div class="col-6 cta_title">
           <p>
            Subscribe in Our Newsletter
           </p>
          </div>
        </div>
      </div>
      <div class="col-m-4 col-4">
        <div class="row">
          <div class="col-6 cta_image">
            <img src="./assets/images/events.jpg" alt="">
          </div>
          <div class="col-6 cta_title">
            <p>
              Attend to our first event !
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
