<nav class="menu">
  <ul>
    <li><a href="#">World</a></li>
    <li><a href="#">Egypt</a></li>
    <li><a href="#" routerLink='political'>Politics</a></li>
    <li><a href="#">Cairo Today</a></li>
    <li><a href="#">Business</a></li>
    <li><a href="#">Opinion</a></li>
    <li><a href="#">Tech</a></li>
    <li><a href="#">Science</a></li>
    <li><a href="#">Health </a></li>
    <li><a href="#" class="badge badge-pill badge-info" routerLink='covid'>Covid 19</a></li>
    <li><a href="#">Sports</a></li>
  </ul>
</nav>
